@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #74777b;
	font-weight: 300;
	font-size: 1em;
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0px !important;
}

.backtabs {
	background-image: url('img/back_taps.jpg');
	height: 500px;
}
/*****************************/
/* Indicadores */
/*****************************/
a {
	color: #2CC185;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #74777b;
}

.support {
	display: none;
	color: #ef5189;
	text-align: left;
	font-size: 1.5em;
	max-width: 1200px;
	margin: 1em auto 0;
	padding: 0;
}

.no-flexbox .support {
	display: block;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

.container > section {
	font-size: 1.2em;
	min-height: 100%;
}

/* Header */
.cabecera {
	height: 300px;
	background: url(../img/cabecera.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 100%;
}
.codrops-header {
	padding: 7em 0 3em;
	letter-spacing: -1px;
}

.codrops-header h1 {
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 800;
	font-size: 5em;
	line-height: 1;
}

.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
	color: #bdc2c9;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */
.related {
	text-align: center;
}

.related > a {
	width: calc(100% - 20px);
	max-width: 340px;
	border: 1px solid black;
	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 1280px) {
	.codrops-header h1 {
		padding: 0 0.5em;
	}
	.support {
		padding: 0 1.5em;
	}
}

@media screen and (max-width: 30em) {
	.container > section {
		padding: 3em 0;
	}
	.codrops-header {
		padding: 2em 0 1em;
	}
	.codrops-header h1 {
		font-size: 3.5em;
	}
}


@media screen and (max-width: 25em) {
	.codrops-icon {
		font-size: 1.5em;
	}
	.codrops-icon span {
		display: none;
	}
}

/* Slider */
.fondoslider {
	background-color: #ddd;
}
.container > header{
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	font-weight: 400;
	color: #936975;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	color: #b19099;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h2{
	font-size: 16px;
	font-style: italic;
	color: #593741;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.codrops-top a:hover{
	background: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}

p.codrops-demos{
	text-align:center;
	display: block;
	padding: 14px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    display: inline-block;
	border: 1px solid #b19099;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 0px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #b19099;
	background: -moz-linear-gradient(top, #b19099 0%, #936975 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b19099), color-stop(100%,#936975));
	background: -webkit-linear-gradient(top, #b19099 0%,#936975 100%);
	background: -o-linear-gradient(top, #b19099 0%,#936975 100%);
	background: -ms-linear-gradient(top, #b19099 0%,#936975 100%);
	background: linear-gradient(top, #b19099 0%,#936975 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b19099', endColorstr='#936975',GradientType=0 );
}
p.codrops-demos a:hover{
	background: #b19099;
}
p.codrops-demos a:active{
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
	color: #443132;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}
#testSlide3 {
	display: inline-block;
	border: 1px solid #b19099;
	padding: 4px 10px 3px;
	margin: 0px 3px;
	color: #fff;
	background: #111;
}

/* Menu top */
.plecatop {
	max-width: 1170px;
	background-color: #414042;
	margin: 0 auto;
}
.menuinicio {
	width: 144px;
	background-color: #996F33;
	text-align: center;
	font-weight: bold;
	padding: 10px;
}
.menuinicio a{
	color: #fff;
}
.menuinicio a:hover{
	color: #fff;
}

/* Media Queries */
@media screen and (max-width: 767px) {
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
	.cabecera {
		height: 200px;
		background: url(../img/cabecera2.jpg);
		background-position: bottom center;
		background-repeat: no-repeat;
		width: auto;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.cabecera {
		height: 300px;
		background: url(../img/cabecera3.jpg);
		background-position: bottom center;
		background-repeat: no-repeat;
		width: auto;
	}
}